/* 
ESSA CLASSE NÃO SERVE DE NADA,
APENAS PARA VOCÊS VEREM OS HEXAS
DAS CORES DO LAYOUT 
*/
.cores{
    color: #4A56F9;
    color: #BE123C;
    color: #1F2937;
    color: #F1F5F9;
    color: #64748B;
    color: #3A5479
}
/*
################### 
################### 
SEU CÓDIGO 
DAQUI PARA BAIXO 
##################
##################
*/

.container {
    margin: auto;
}

.c37021178-header {
    background-color: #F1F5F9;
}

.c37021178-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.user img{
    margin: 10px;
    margin: 0 10px 0 0;
    margin-right: 10px;
    margin: 0 10px;
}

.user {
    display: flex;
    justify-content: space-between;
    
}

main {
    margin-top: 40px;
}

main section form {
    display: flex;
    margin-bottom: 20px;
}

form input[type="text"] {
    background-color: #64748B;
    height: 30px;
    width: 365px;
    margin-right: 10px;
    border: 0px;
    color: #F1F5F9;
    padding: 10px;
}

form input::placeholder {
    color: #3A5479;
    font-size: 15px;
    padding: 20px;
}

form input[type="submit"] {
    background-color: #4A56F9;
    color: #F1F5F9;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    padding: 0px 20px 0px 20px;
    border: 0px;
}

.c37021178-li {
    background-color: #F1F5F9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 5px;
    border: 0;
}

.c37021178-li-section {
    margin: 0px;
    width: 70%;
}

.c37021178-li h4 {
    font-size: 20px;
}

.c37021178-li h3 {
    font-size: 43px;
    margin-right: 30px;
}

.c37021178-li .azul {
    color: #4A56F9;
}

.c37021178-li .vermelho {
    color: #BE123C;
}

footer {
    padding: 40px 0px 40px 0px;
    color: #64748B;
    text-align: center;
    font-size: 14px;
}